@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --main-color: #1b7c85;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

.df-sidebar a {
    color: rgba(255, 255, 255, 0.7);
}

.bg-main {
    background-color: var(--main-color);
}

/* #sidebar {
    width: 18rem !important;
} */

ul .menu-legend {
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 0 !important;
}

.df-sidebar ul li {
    position: relative;
    padding-left: 15px;
}

.df-sidebar ul li:before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 11px;
    z-index: 9;
    opacity: 0.7;
}

ul li.menu-legend:before {
    display: none !important;
}

.has-legend li:before {
    left: 0 !important;
}

.user-page {
    background-color: var(--main-color);
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
    padding-right: 15px;
}

.dataTable {
    margin-top: 20px !important;
}

.dataTables_length {
    padding-left: 15px;
}

.dataTables_length select {
    height: 34px;
    padding: 6px;
    border-radius: 4px;
    margin: 0 10px;
}

.dataTables_filter input {
    height: 36px;
    padding: 0 10px;
    border-radius: 5px;
}

.border-lite {
    border: 1px solid #8e8686;
}

.dataTables_wrapper {
    padding-top: 15px;
}

.dataTables_wrapper .dataTables_info {
    padding-left: 20px;
}

body div .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body
    div
    .dataTables_wrapper
    .dataTables_paginate
    .paginate_button.current:hover {
    background: var(--main-color) !important;
    background-image: none !important;
    color: #ffffff !important;
    border: 0 !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-bottom: 0.25em;
}

table a {
    display: inline-block;
}

#sidebar{
    position: relative;
    z-index: 999999999999999999;
    width: 18rem!important;
}

@media (max-width: 1024px) {
    #sidebar.-translate-x-70 {
        transform: translateX(-19rem) !important;
        width: 0!important;
        padding: 0;
    }
}

.dashboar-main{
    padding-bottom: 50px;
}

@media (min-width: 1025px ){
    .dashboar-main{
        padding: 20px 20px 50px;
      }
}

.chart-wrap {
    width: 100vw;
}

@media (min-width: 1024px) {
    .chart-wrap {
        width: calc(100vw - 500px);
    }
}

@media (max-width: 767px) {
    .header {
        padding-right: 20px;
    }
}

@media (min-width: 1024px){
    .f-row-wrap{
        display: flex;
        gap: 30px;
    }

    .f-row-wrap .f-col{
        flex: 1;
    }
}

div:where(.swal2-container){
    z-index: 99999999999999999999!important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    background-color: var(--main-color)!important;
}

@media (max-width: 767px){
    .dataTables_wrapper{
        width: calc(100vw - 12px);
        overflow-x: auto;
    }
}

@media (min-width: 768px) and (max-width: 1400px){
    .dataTables_wrapper{
        min-width: 1200px;
        overflow-x: auto;
    }
}

.user-page-logo img{
    width: 150px;
}

.nx-image img{
    position: static!important;
    height: auto!important;
}