<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email </title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="100px"></img>
    <p style="font-size:20px;"><b>ERCS Account Creation Notification</b></p></center>
    <br>
    <p>Hello <%= name %></p>
    <p>An account has been created for you on the Emergency Response and Coordination System </p>
    <p>Use the login details below:</p>
    <br>
    <p>URL: https://emergencysystem.info<br>
        Email: <%= email %><br>
        Password: <%= password %></p>
        </p>

    <br>
    <p> Sincere regards,<br>
       

ECRS Administration team.

        </p>
  </body>
</html>
