<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email </title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="100px"></img>
    <p style="font-size:20px;"><b>Welcome to the Emergency Coordination & Response System!</b></p></center>
    <br>
    <p>Your account has been created and activated successfully! </p>
    <p>You can now access the system and manage your mission. Please use the following information to access your account:</p>
    <br>
    <p>URL: https://emergencysystem.info<br>
        Email: <%= email %><br>
        Password: <%= password %></p>
        </p>

    <br>
    <p>Thanks!<br>
        Emergency Coordination & Response System
        </p>
  </body>
</html>
