<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change Request</title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="150px"></img>
    <p style="font-size:20px;"><b>Password Change Request</b></p></center>
    <br>
    <p>You have submitted a password change request.</p>
    <p>If it wasn't you please disregard this email and make sure you can still login to your account. If it was you, then use the following code to set new password:  <%= resetLink %></p>
    <br>
    <p>Thanks!<br>
        Emergency Coordination & Response System
        </p>
  </body>
</html>
