<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change Request</title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="100px"></img>
    <p style="font-size:20px;"><b>ERCS Account Password Reset</b></p></center>
    <br>
    <p>Hello <%= name %></p>
    <p>A password reset for the account with username <%= name %> has been requested at <%= date %></p>
    <p>If this wasn't you, then ignore this message, your account is safe  </p>
    <p>If this was you, then click on the link below to set a new password  <%= resetLink %></p>
    <br>
    <p> Sincere regards,<br>
       

        ECRS Administration team.
        
                </p>
  </body>
</html>
