<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email </title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="150px"></img>
    <p style="font-size:20px;"><b>New mission request submitted! </b></p></center>
    <br>
    <p>New mission request submitted. Here is the quick overview: </p>
    <table style="width:100%">
      <tr>
        <td>Mission ID:</td>
        <td><%= missionId %></td>
      </tr>
 
      <tr>
        <td>Mission Date:</td>   
        <td><%= date %></td>
      </tr>
  
    </table>

    <br>
    <p>Thanks!<br>
        Emergency Coordination & Response System
        </p>
  </body>

</html>
