<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email </title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="100px"></img>
    <p style="font-size:20px;"><b>Email alert to Mission Focal person informing them of successful submission. </b></p></center>
    <br>
    <p>Hello <%= leader %></p>
    <p>This is a confirmation that the Mission Coordination Request (MCR) has been submitted successfully to the UNRWA Access Coordination Team (ACT). </p>
    <p>The details of the mission are contained in the attached PDF. Please review the details of the MCR carefully to ensure accuracy. If you need to update or correct any details in the MCR, please reach out to the ACT as soon as possible, quoting the MCR Number, which is quoted below.</p>
    <table style="width:100%">
      <tr>
        <td>Mission ID:</td>
        <td><%= missionId %></td>
      </tr>
        <tr>
            <td>Focal Point:</td>
            <td><%= leader %></td>
 
      <tr>
        <td>Mission Date:</td>   
        <td><%= date %></td>
      </tr>
  
    </table>

    <br>
    <p> Sincere regards,<br>
        ECRS Administration team.    
    </p>
  </body>

</html>
